*,
*:before,
*:after {
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: inherit;
    font-size: inherit;
}

ul, ol, li {
    list-style: none;
}

img {
    vertical-align: top;
}

html,
body {
    width: 100%;
    line-height: 1;
    font-family: Montserrat;
    font-size: 0.9vw;
    vertical-align: super;
}

/* Header */
header {
    width: 100%;
    height: 57.2vw;
    position: relative;
    overflow: hidden;
    background-color: #131210;
}

.logo {
    width: 2.7vw;
    float: left;
    margin-top: 3vw;
    margin-left: 5.1vw;
    transition: initial;
}

.logo:hover {
    opacity: 0.7;
    transform: scale(1.1, 1.1);
}

.mail {
    margin-left: 59.6vw;
    margin-top: 3.9vw;
    float: left;
    color: white;
    font-size: 0.9vw;
}

.mail:before {
    content: '';
    background-image: url(../img/mail.png);
    background-repeat: no-repeat;
    margin-left: -2.2vw;
    width: 1.5vw;
    height: 1.2vw;
    background-size: 100%;
    position: absolute;
}

.phone {
    margin-left: 4.8vw;
    margin-top: 3.9vw;
    float: left;
    color: white;
    font-size: 0.9vw;
}

.phone:before {
    content: '';
    background-image: url(../img/phone.png);
    background-repeat: no-repeat;
    width: 1.5vw;
    height: 1.5vw;
    margin-left: -2.2vw;
    margin-top: -0.2vw;
    background-size: 100%;
    position: absolute;
    transition: 1s;
}

.mail:hover,
.phone:hover {
    opacity: 0.7;
    transform: scale(1.05, 1.05);
}

form {
    float: left;
}

/* Login Button */
.login {
    width: 6.3vw;
    height: 2.8vw;
    background-color: white;
    color: #135EC5;
    text-transform: uppercase;
    border-radius: 1.5vw;
    font-size: 0.8vw;
    font-weight: 900;
    border: none;
    float: left;
    margin-top: 2.8vw;
    margin-left: 2.3vw;
    cursor: pointer;
    transition: 0.1s;
}

.login:hover {
    opacity: 0.9;
}

.login:active {
    transform: scale(0.9, 0.9);
    background-color: #135EC5;
    color: silver;
}

header span:nth-of-type(1),
header span:nth-of-type(2) {
    float: left;
    clear: both;
    opacity: 1;
    position: absolute;
    color: #2525254d;
    height: 9.3vw;
    font-size: 9.3vw;
    font-weight: 700;
    top: 13.8vw;
    left: 30.1vw;
    line-height: 1;
    transition: 0.3s;
    cursor: default;
    text-transform: uppercase;
    text-shadow: 0 0 8vw rgb(0, 0, 0);
    z-index: 1;
}

header span:nth-of-type(2) {
    top: 21.5vw;
    left: 16vw;
    word-spacing: 18vw;

}

.dots {
    position: absolute;
    display: inline-block;
    width: 0.5vw;
    height: 2.5vw;
    margin-top: 24.1vw;
    cursor: pointer;
}

.dots li {
    width: 100%;
    height: 0.5vw;
    background-color: #3C3C3C;
    border-radius: 50%;
    margin-top: 0.5vw;
}

.dots li:nth-of-type(2) {
    background-color: #135EC5;
}

.dots li:hover {
    opacity: 0.7;
    background-color: #c1c1c1;
}

/* Header Image */  
.mercedesblack {
    width: 40vw;
    height: 24.75vw;
    margin-top: 11.8vw;
    margin-left: 30.6vw;
    z-index: 100;
    float: left;
    position: relative;
}

header span:nth-of-type(3) {
    position: absolute;
    color: white;
    top: 46.3vw;
    left: 44.9vw;
    font-weight: 600;
    line-height: 1;
}

/* Header Placeholders */
header nav {
    position: absolute;
    margin-left: 11.9vw;
    margin-top: 49.9vw;
}

input {
    width: 16.7vw;
    line-height: 2vw;
    margin-right: 5.5vw;
    float: left;
    background-color: #131210;
    font-size: 1.5vw;
    font-weight: 600;
    color: #3C3C3C;
    border: none;
    opacity: 0.5;
    border-bottom: 0.1vw solid #3C3C3C;
}

input:focus {    
    opacity: 1;
    color: #ffffff;
    outline: none;
} 

input[type="text"]::-webkit-input-placeholder {
    color: #ffffff;
}

/* Search Button */
.searchbtn {
    width: 10.9vw;
    height: 2.8vw;
    color: white;
    background-color: #135EC5; 
    font-size: 0.8vw;
    font-weight: 700;
    margin-top: -0.7vw;
    border-radius: 1.5vw;
    border: none;
    text-transform: uppercase;
    transition: 0.1s;
}

.searchbtn:hover {
    cursor: pointer;
    opacity: 0.9;
}

.searchbtn:active {
    transform: scale(0.9, 0.9);
    color: #135EC5;
    background-color: silver;
}


/* Main */

/* Section 1 */
.section1 {
    height: 46vw;
    background-color: #ffffff;
}

.section1 span {
    color: #c1c1c1;
    font-size: 0.9vw;
    font-weight: 500;
    margin-top: 3vw;
    margin-left: 47vw;
    float: left;
    position: absolute;
}

/* Car Logos */
.carbrand {
    position: absolute;
    float: left;
    margin-top: 7.3vw;
    margin-left: 5.2vw;
}

.carbrand img {
    height: 3vw;
    display: inline-block;
    line-height: 100%;
    margin-right: 9.8vw;
}

.carbrand a:nth-of-type(7) img {
    margin-right: 0vw;
}

.carbrand a:nth-of-type(4) img {
    margin-left: 0.7vw;
}

.carbrand a:nth-of-type(5) img {
    margin-right: 8vw;
}
.carbrand img:hover {
    opacity: 0.7;
}

/* Solid hr */
hr {
    width: 100%;
    height: 1px;
    top: 14vw;
    position: relative;
    background-color: #EBEBEB;
    border: none;
}

/* Left Side Image & Text  */
.section1 span:nth-of-type(2) {
    display: inline-block;
    position: absolute;
    color: white;
    height: 8.9vw;
    font-size: 8.9vw;
    font-weight: 700;
    margin-top: 20vw;
    margin-left: 7.8vw;
    line-height: 1;
    text-shadow: 0 0 8vw rgba(0, 0, 0, 0.123);
}

.section1 span:nth-of-type(3) {
    display: inline-block;
    position: absolute;
    color: white;
    width: 32vw;
    height: 8.9vw;
    font-size: 8.9vw;
    font-weight: 700;
    margin-top: 27.1vw;
    margin-left: 14.1vw;
    line-height: 1;
    text-shadow: 0 0 9vw rgba(0, 0, 0, 0.170);
    text-transform: uppercase;
}

.bmwsedan {
    width: 26.5vw;
    height: 14.4vw;
    margin-top: 23.4vw;
    margin-left: 12.2vw;
    position: absolute;
}

/* Right Side Text */
.bmwbluetxt {
    font-size: 3vw;
    height: 3vw;
    font-weight: 800;
    margin-top: 23vw;
    margin-left: 51.3vw;
    position: absolute;
    color: #135EC5;
}

.bmwdescript {
    font-family: 'OpenSans';
    font-size: 0.8vw;
    font-weight: 400;
    width: 32vw;
    height: 3.5vw;
    line-height: 2.4vw;
    color: #c1c1c1;
    margin-top: 28.3vw;
    margin-left: 51.5vw;
    position: absolute;
}

/* Button View All Models */
.viewall {
    width: 10.9vw;
    height: 2.8vw;
    color: white;
    background-color: #135EC5; 
    font-size: 0.8vw;
    font-weight: 700;
    margin-top: 34.5vw;
    margin-left: 51.3vw;
    border-radius: 1.5vw;
    border: none;
    text-transform: uppercase;
    transition: 0.1s;
}

.viewall:hover {
    cursor: pointer;
    opacity: 0.9;
}

.viewall:active {
    transform: scale(0.9, 0.9);
    color: #135EC5;
    background-color: silver;
}


/* Section 2 */
.section2 {
    height: 32.1vw;
}

.centre {
    background-color: #135EC5;
    height: 27.3vw;
}

.centre p {
    font-size: 3vw;
    font-weight: 700;
    color: #ffffff;
    margin-left: 27.3vw;
    margin-top: 7.3vw;
    position: absolute;
}

/* Button Add Now */
.addnow {
    width: 10.9vw;
    height: 2.8vw;
    color: white;
    background-color: #135EC5; 
    font-size: 0.8vw;
    font-weight: 700;
    margin-top: 14vw;
    margin-left: 44.6vw;
    border-radius: 1.5vw;
    border: 0.2vw solid #ffffff;
    text-transform: uppercase;
    transition: 0.1s;
    position: absolute;
}

.addnow:hover {
    cursor: pointer;
    background-color: #2d6dc7;
    opacity: 0.9;
}

.addnow:active {
    transform: scale(0.9, 0.9);
    color: #135EC5;
    background-color: silver;
}

/* Car Centre Image */
.bmwside {
    width: 31.5vw;
    height: 11.9vw;
    margin-top: 20.2vw;
    margin-left: 32.9vw;
    position: absolute;
}


/* Section 3 */
.section3 {
    height: 50.5vw;
    background-color: #ffffff;
}

/* Left Side Card */
.leftcard {
    width: 22.7vw;
    height: 28.7vw;
    box-shadow: 0vw 0vw 3vw rgba(131, 131, 131, 0.26);
    position: absolute;
    margin-top: 12vw;
    margin-left: 9.2vw;
    background-color: #ffffff;
}

.leftcard span {
    width: 22.7vw;
    height: 9.9vw;
    font-size: 7.2vw;
    line-height: 10vw;
    font-weight: 700;
    color: #c1c1c10a;
    background-color: #135EC5;
    position: absolute;
    text-transform: uppercase;
}

.tag {
    width: 4.3vw;
    height: 1.5vw;
    margin-top: 1.4vw;
    margin-left: 17.2vw;
    position: absolute;
    background-color: #ffffff;
    color: #135ec5;
    border-radius: 1vw;
    font-size: 0.7vw;
    border: none;
    text-transform: uppercase;
    transition: 0.1s;
    font-weight: 800;
}

.tag:hover {
    cursor: pointer;
    background-color: #c1c1c1;
    opacity: 0.9;
}

.tag:active {
    transform: scale(0.9, 0.9);
    color: #135EC5;
    background-color: silver;
}

.bluemercedes {
    width: 14.2vw;
    height: 8.2vw;
    margin-top: 6.3vw;
    margin-left: 4.3vw;
    position: absolute;
}

.carchar li:nth-of-type(1) {
    width: 16.5vw;
    height: 1.2vw;
    margin-top: 16.6vw;
    margin-left: 3.9vw;
    position: absolute;
    font-size: 1.31vw;
    font-weight: 800;
}

.carchar li:nth-of-type(2) {
    width: 5.3vw;
    height: 0.6vw;
    margin-top: 18.7vw;
    margin-left: 9vw;
    position: absolute;
    font-size: 0.6vw;
    font-weight: 700;
    color: #135EC5;
}

.carchar li:nth-of-type(3) {
    width: 13.5vw;
    height: 0.8vw;
    margin-top: 21.2vw;
    margin-left: 5.5vw;
    position: absolute;
    font-size: 0.8vw;
    font-weight: 600;
    color: #c1c1c1;
}

.carchar li:nth-of-type(4) {
    width: 6vw;
    height: 1.3vw;
    margin-top: 24.8vw;
    margin-left: 2.5vw;
    position: absolute;
    font-size: 1.3vw;
    font-weight: 800;
    color: #16AD2C;
    cursor: pointer;
}

.carchar li:nth-of-type(4):hover {
    opacity: 0.8;
}

.carchar li:nth-of-type(4):active {
    color: #135EC5;
    transform: scale(0.9, 0.9);
}

.minfo {
    width: 9.7vw;
    height: 2.5vw;
    margin-top: 24vw;
    margin-left: 10.6vw;
    position: absolute;
    background-color: #E2E2E2;
    color: #ffffff;
    border-radius: 1.5vw;
    font-size: 0.9vw;
    border: none;
    text-transform: uppercase;
    transition: 0.1s;
    font-weight: 800;
}

.minfo:hover {
    cursor: pointer;
    background-color: #c1c1c1;
    opacity: 0.9;
}

.minfo:active {
    transform: scale(0.9, 0.9);
    color: #135EC5;
    background-color: silver;
}

/* Right Side Card */
.rightcard {
    width: 48vw;
    height: 34.5vw;
    box-shadow: 0vw 0vw 3vw rgba(131, 131, 131, 0.26);
    position: absolute;
    margin-top: 8.3vw;
    margin-left: 42.8vw;
    background-color: #ffffff;
}

.rightback {
    background-color: #135EC5;
    position: absolute;
    float: left;
    width: 22.2vw;
    height: 34.5vw;
    left: 25.76vw;
}

.carchar-right {
    position: absolute;
}

.carchar-right li:nth-of-type(1) {
    width: 5.25vw;
    height: 0.6vw;
    font-size: 0.6vw;
    font-weight: 600;
    color: #c1c1c1;
    margin-top: 3.5vw;
    margin-left: 2.9vw;
    position: absolute;
}

.carchar-right li:nth-of-type(2) {
    width: 6vw;
    height: 1.3vw;
    margin-top: 3vw;
    margin-left: 17.6vw;
    position: absolute;
    font-size: 1.3vw;
    font-weight: 800;
    color: #16AD2C;
    cursor: pointer;
}

.carchar-right li:nth-of-type(2):hover {
    opacity: 0.8;
}

.carchar-right li:nth-of-type(2):active {
    color: #135EC5;
    transform: scale(0.9, 0.9);
}

.carchar-right li:nth-of-type(3) {
    width: 16.5vw;
    height: 1.2vw;
    font-size: 1.2vw;
    font-weight: 700;
    color: #135EC5;
    margin-top: 11.1vw;
    margin-left: 2.9vw;
    position: absolute;
}

.carchar-right li:nth-of-type(4) {
    width: 13.5vw;
    height: 7.9vw;
    font-family: 'OpenSans';
    font-size: 0.75vw;
    font-weight: 500;
    color: #c1c1c1;
    margin-top: 14vw;
    margin-left: 2.9vw;
    line-height: 2.3vw;
}

.order {
    position: absolute;
    width: 10.9vw;
    height: 2.8vw;
    color: white;
    background-color: #135EC5; 
    font-size: 0.8vw;
    font-weight: 700;
    margin-top: 26.8vw;
    margin-left: 2.9vw;
    border-radius: 1.5vw;
    border: none;
    text-transform: uppercase;
    transition: 0.1s;
}

.order:hover {
    cursor: pointer;
    opacity: 0.9;
}

.order:active {
    transform: scale(0.9, 0.9);
    color: #135EC5;
    background-color: silver;
}

.tag2 {
    width: 4.3vw;
    height: 1.5vw;
    margin-top: 2.8vw;
    margin-left: 41.9vw;
    position: absolute;
    background-color: #ffffff;
    color: #135ec5;
    border-radius: 1vw;
    font-size: 0.7vw;
    border: none;
    text-transform: uppercase;
    transition: 0.1s;
    font-weight: 800;
}

.tag2:hover {
    cursor: pointer;
    background-color: #c1c1c1;
    opacity: 0.9;
}

.tag2:active {
    transform: scale(0.9, 0.9);
    color: #135EC5;
    background-color: silver;
}

.silvermerc {
    width: 26.4vw;
    height: 18.3vw;
    margin-left: 21.6vw;
    margin-top: 8.1vw;
    position: absolute;
    overflow: hidden;
}

.rightcard img {
    position: absolute;
    width: 30.8vw;
    height: 18.3vw;
}

.dots-hor {
    position: absolute;
    display: flex;
    width: 3vw;
    height: 0.5vw;
    margin-top: 30vw;
    margin-left: 35.5vw;
    cursor: pointer;
    align-items: center;
}

.dots-hor li {
    width: 0.3vw;
    height: 0.3vw;
    background-color: #1550a1;
    border-radius: 50%;
    margin-right: 0.5vw;
}

.dots-hor li:nth-of-type(2) {
    width: 0.5vw;
    height: 0.5vw;
    background-color: #ffffff;
}

.dots-hor li:hover {
    opacity: 0.7;
    background-color: #c1c1c1;
}


/* Section 4 */
.section4 {
    width: 74.9vw;
    height: 43.6vw;
    margin-bottom: 8.8vw;
    box-shadow: 0vw 0vw 3vw rgba(131, 131, 131, 0.26);
}

/* Placeholders Bottom */
.textplace {
    position: absolute;
    margin-left: 2.5vw;
    margin-top: 3.6vw;
}

.textplace input {
    width: 15vw;
    line-height: 2.5vw;
    margin-right: 3vw;
    float: left;
    background-color: #ffffff;
    font-size: 1vw;
    font-weight: 800;
    opacity: 0.5;
    border: none;
    border-bottom: 0.1vw solid #c1c1c170;
}

.textplace input[type="text"]::-webkit-input-placeholder {
    opacity: 1;
    color: #000000;
}

.textplace input[type="location"]::-webkit-input-placeholder {
    opacity: 1;
    color: #000000;
    background: url(../img/Pin.png) no-repeat right;
}

.textplace input:focus {
    outline: none;
} 

/* Solid hr */
.hr {
    width: 100%;
    height: 0.1vw;
    top: 9.2vw;
    position: relative;
    background-color: #EBEBEB;
    border: none;
    opacity: 0.6;
}

/* Brands Logo Bottom */
.brandbottom {
    position: relative;
    float: left;
    margin-top: 11.5vw;
    margin-left: 2.4vw;
}

.brandbottom img {
    height: 2.6vw;
    display: inline-block;
    line-height: 100%;
    margin-right: 7.5vw;
}

.brandbottom a:nth-of-type(7) img {
    margin-right: 0vw;
}
.brandbottom a:nth-of-type(3) img {
    margin-right: 7vw;
}

.brandbottom a:nth-of-type(4) img {
    margin-right: 7vw;
}

.brandbottom a:nth-of-type(5) img {
    margin-right: 7vw;
}
.brandbottom img:hover {
    opacity: 0.7;
}

/* Placeholders Bottom 2 */
.textplace2 {
    position: absolute;
    margin-left: 2.5vw;
    margin-top: 18vw;
}

.textplace2 input {
    width: 15vw;
    line-height: 2.5vw;
    margin-right: 3vw;
    float: left;
    background-color: #ffffff;
    font-size: 1vw;
    font-weight: 800;
    opacity: 0.5;
    border: none;
    border-bottom: 0.1vw solid #c1c1c180;
}

.textplace2 input[type="text"]::-webkit-input-placeholder {
    opacity: 1;
    color: #000000;
}

/* Bottom Panel */
.bottom-panel {
    width: 74.8vw;
    height: 18.9vw;
    background-color: #135ec5;
    color: #ffffff;
    margin-top: 24.7vw;
}

.hide-panel {
    width: 9.4vw;
    height: 2vw;
    background-color: #135ec5;
    color: #ffffff;
    border-radius: 1vw 1vw 0vw 0vw;
    bottom: 1.6vw;
    margin: auto;
    position: relative;
}

.hide-button {
    width: 100%;
    display: inline-block;
    font-size: 0.7vw;
    font-weight: 700;
    top: 0.5vw;
    left: 0.6vw;
    margin: auto;
    position: relative;
}

/* Table */
.option-table {
    height: 0.7vw;
    width: 69vw;
    margin-left: 2.4vw;
    margin-right: 2.5vw;
    border-spacing: 2.5vw 1vw;
}

.option-table input {
    width: 100%;
}

tr input[type="text"]::-webkit-input-placeholder {
    color: #ffffff;
}

input:focus {
    opacity: 1;
    color: #ffffff;
}

.option-txt {
    background-color: #135ec5;
    color: white;
    width: 15.4vw;
    height: 3vw;
    border: none;
    border-bottom: 0.1vw solid #c1c1c1;
    line-height: 1vw;
    font-size: 1vw;
    opacity: 0.6;
    font-weight: 700;
}

.searchbtn2 {
    width: 10.9vw;
    height: 2.8vw;
    color: #135EC5;
    background-color: #ffffff; 
    font-size: 0.8vw;
    font-weight: 800;
    margin-top: 2vw;
    border-radius: 1.5vw;
    border: none;
    text-transform: uppercase;
    transition: 0.1s;
    margin-left: 32vw;
    position: absolute;
}

.searchbtn2:hover {
    cursor: pointer;
    opacity: 0.9;
}

.searchbtn2:active {
    transform: scale(0.9, 0.9);
    color: #135EC5;
    background-color: silver;
}
